@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import "tailwindcss";

body {
  background: #040404;
  font-family: "Roboto Slab", serif;
}

.flickerAnimation{
  animation: flicker 1s linear;
}

@keyframes flicker{
  0% {
    opacity: 0%;
  }
  5% {
    opacity: 100%;
  }
  9% {
    opacity: 100%;
  }
  10% {
    opacity: 0%;
  }
  14% {
    opacity: 0%;
  }
  15% {
    opacity: 100%;
  }
  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }
  30%{
    opacity: 0%;
  }
  31%{
    opacity: 100%;
  }
  50%{
    opacity: 100%;
  }
  51%{
    opacity: 0%;
  }
  70%{
    opacity: 0%;
  }
  71%{
    opacity: 100%;
  }
}
